<!DOCTYPE html>
<html>
  <head>
    <title>RestTester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <h1>Rest Client Tester App</h1>
    <%= yield %>
      <p>Returning info from selected URL</p>
  </body>
</html>
